$main-gradient-from:           #323264;
$main-gradient-to:             #643E72;
$header-bg:                    #f5f5fa;
$header-link-color:            #FFFFFF;
$header-text-light:            #FFFFFF;
$header-text-dark:             #B3B3BA;

$link-active:                  #F0145A;

$devider_light:                #E6E6F0;
$devider_dark:                 #B3B3BA;

$wrap-experience_list-from:    #EF8080;
$wrap-experience_list-to:      #F0145A;
$wrap-experience-text:         rgba(255, 255, 255, 0.3);
$wrap-text:                    #FFFFFF;

$title-text-from:              #F0145A;
$title-text-to:                #EF8080;

$item-text-color:              #24A3FF;

$shadow-upper:                 #CACADB;
$lower-shadow:                 #E7E7F2;

$slide-author-bg:              #F5F5FA;
$slide-author-text-light:      #B3B3BA;

$features-clients-text:        #323264;

$preview-box-text:             #24A3FF;
$preview-color-text:           #B3B3BA;
$preview-color-border:         #E6E6F0;

$bg:                           #F5F5FA;
$bg-light:                     #FFFFFF;
$bg-text-from:                 #F0145A;
$bg-text-to:                   #EF8080;
$border-color:                 #E6E6F0;

$footer-adress-color:          #323264;
$footer-text-color:            #24A3FF;
$footer-phone-color:           #46466E;
$footer-copyright-text:        #B3B3BA;

$button-bg:                       #fff;

$breakpoint-sm:              768px;
$breakpoint-md:             1024px;
$breakpoint-lg:             1440px;
$breakpoint-xl:             1920px;
